<template name="signin">
	<div class="middle-box text-center loginscreen animated fadeInDown">
		<img src="/img/logo-login.png" class='logo-login'>
		<h3>Welcome to TDB</h3>
		<p>TDB is Envisoning's platform for studying & discussing emerging technologies. We're on a closed beta right now. If you're interested, drop us a line at <a href="mailto:as@envisioning.io">as@envisioning.io</a></p>

		{{> atForm class="m-t"}}

		<p class="m-t"> <small>Envisioning is a virtual research institute. We provide technological foresight to policy and decision makers worldwide. &copy; 2016</small> </p>
	</div>
</template>

