<template name="orgCard">
  {{#unless isDeleted}}
    <div class="ibox card-box">
      <div class="ibox-content no-padding">
        {{#unless hideTools}}
          {{> orgCardTools}}
        {{/unless}}
        <a href="{{pathFor 'organizations.entry' id=_id}}">
        {{> safeImg url=(getCloudinaryCard (s3pathImages logo)) class='img-responsive'}}
        </a> 
        <div class="card-body">
          {{> orgCardDesc}}
          {{#unless hideFooter}}
            {{> orgCardFooter}}
          {{/unless}}
        </div>
      </div>
    </div>
  {{/unless}}  
</template>