<template name="organizationsInformationTable">
  <table class="table table-small" data-template="organizations-information-table">
    <tbody>
      <tr>
        <td>Founding Year</td>
        <td>{{foundingYear}}</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>{{{getCountryFlag country}}} {{getCountryName country}}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{{formatOrgType type true}}}</td>
      </tr>
      <tr>
        <td>People</td>
        <td>
          <div class="key-people-thumbs">
            {{#each keyPeople}}
            <a href="#">
                {{> safeImg url=(c.url image width=38 height=38 type='fetch' crop='thumb' gravity='face') class='img-circle' width=38 height=38}}
              </a> {{/each}}
            <a href="#" class="btn add-people" id="add-people">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>
